/*configurações globais*/
* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

/*configurações de inputs*/

* > input {
    border: 1px solid grey;
    padding: 5px;

}

/*configurações de botões*/
* > button {
    background-color: rgb(94, 118, 255);
    color: white;
    border: 1px solid grey;
    padding: 5px;
    margin: 15px;
}
* > button:hover {
    transition: 0.2s;
    color: black;
    background-color: aliceblue;
    cursor: pointer;
}
body {
    background-image: linear-gradient(rgb(94, 118, 255), rgb(193, 78, 216));
    background-size: contain;
    background-attachment: fixed;

}

/*Edite o contêiner da mensagem*/

#mensagem-area  {
    border: 1px solid rgba(0, 0, 0, 0.349);
    background-color: white;
    border-radius: 7px;
    padding: 5px;
    margin: 9px;
    font-family: Arial, Helvetica, sans-serif;
}
/*Texto da mensagem enviada*/
#mensagem-texto {
    font-size: 18px;
    margin: 15px;
    margin-top: 25px;
}

/*Imagem de perfil da mensagem*/
#imagem-perfil-mensagem{
    border-radius: 7px;
    margin: 15px;
    margin-bottom: -15px;
    height: 40px;
    width: 40px;
}
/*Caixa de texto para enviar uma nova mensagem*/
#caixa-de-texto {
    width: 440px;
    height: 29px;
    margin: 15px;
    border-radius: 7px;
    resize: none;

}

/*Botão para enviar uma nova mensagem*/
#enviar-mensagem {
    width: 100px;
    height: 40px;
    border-radius: 7px;

}
/*Caixa de texto para enviar uma nova resposta*/
#escreva-resposta {
    width: 400px;
    height: 25px;
    border-radius: 7px;
    margin: 5px;

}


/*Texto da resposta enviada*/
#resposta-texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 15px;
    margin-top: 25px;
}
/*Botão para enviar uma nova resposta*/

/*Imagem de perfil da resposta*/
#imagem-perfil-resposta{
    border-radius: 7px;
    margin: 15px;
    margin-bottom: -15px;
    height: 25px;
    width: 25px;
}

#enviar-resposta{
    width: 60px;
    height: 38px;
    border-radius: 7px;

}
/*Botão para criar uma resposta*/

#botao-responder{
    width: 120px;
    height: 38px;
    border-radius: 7px;

}


/*Edite o campo superior do chat*/

header {
    background-color: white;
    width: 96,5%;
    margin: 1%;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid grey;
}

#foto-perfil {
    border-radius: 7px;
    margin: 15px;
    margin-bottom: -15px;
    height: 40px;
    width: 40px;
}